html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

strong {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  font-size: inherit;
  margin: 0;
  min-width: 25rem;
  width: 100%;
}

tr {
  background: transparent;
  border-bottom: 1px solid #dadce0;
  border-top: 0;
  height: 48px;
}

td {
  line-height: 1.5;
  padding: 0.5rem 1rem 0.5rem 0;
}

/* for image caption */
img + em {
  margin-top: 0.5em;
  color: dimgrey;
  font-style: normal;
  display: inherit;
  text-align: center;
  font-size: 85%;
}

/* for table caption */
table + p {
  margin-top: 0.5em;
  color: dimgrey;
  font-style: normal;
  display: inherit;
  text-align: center;
  font-size: 85%;
}

blockquote {
  margin: 1em 0;
  padding: 0.75rem 1rem;
  background: #ebf6ff;
  border-left: 0.3rem solid #5aa8ff;
}

a {
  color: #007faa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.anchor {
  stroke: #007faa;
  margin-left: -26px;
  padding-right: 6px;
  visibility: hidden;
}

h2 .anchor {
  visibility: hidden;
}

h2:hover .anchor {
  visibility: visible;
}

img {
  max-width: 100%;
  display: block;
}
