html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--on-background);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: var(--heading-color);
}

strong {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  font-size: inherit;
  margin: 0;
  min-width: 25rem;
  width: 100%;
}

tr {
  background: transparent;
  border-bottom: 1px solid #dadce0;
  border-top: 0;
  height: 48px;
}

td {
  line-height: 1.5;
  padding: 0.5rem 1rem 0.5rem 0;
}

/* for image caption */
img + em {
  margin-top: 0.5em;
  color: lightslategray;
  font-style: normal;
  display: inherit;
  text-align: center;
  font-size: 85%;
}

/* for table caption */
table + p {
  margin-top: 0.5em;
  color: lightslategray;
  font-style: normal;
  display: inherit;
  text-align: center;
  font-size: 85%;
}

blockquote {
  margin: 1em 0;
  padding: 0.75rem 1rem;
  background: var(--surface-color);
  color: var(--on-surface);
  border-left: 0.3rem solid var(--primary-variant);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.anchor {
  stroke: var(--primary-color);
  margin-left: -26px;
  padding-right: 6px;
  visibility: hidden;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

h2 .anchor {
  visibility: hidden;
}

h2:hover .anchor {
  visibility: visible;
  stroke: var(--secondary-color);
}

img {
  max-width: 100%;
  display: block;
}

:root {
  color-scheme: light dark;
  --primary-color: #05668d;
  --primary-variant: #033d55;
  --secondary-color: #02c39a;
  --secondary-variant: #01755c;
  --on-primary: #e6f0f4;
  --on-secondary: #424242;
  --on-background: #424242;
  --on-surface: #424242;
  --bg-color: #fff;
  --surface-color: #e6f0f4;
  --heading-color: #292922;
  --accent: #ffb200;
}

[data-theme='dark'] {
  --primary-color: #ffffff;
  --primary-variant: #e6f0f4;
  --secondary-color: #02c39a;
  --secondary-variant: #e6f0f4;
  --on-primary: #e6f0f4;
  --on-secondary: #424242;
  --on-background: #fff;
  --on-surface: #fff;
  --bg-color: #021f2a;
  --surface-color: #022e3f;
  --heading-color: #ffffff;
  --accent: #02c39a;
}
