.container {
  max-width: 38rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.header {
  width: 100%;
}

.navHomeLink {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  display: flex;
  align-items: center;
}

.navLinks {
  list-style-type: none;
}

.navLinksItem {
  display: inline-block;
  font-size: 16px;
  padding: 0;
}
