.container {
  max-width: 38rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navHomeLink {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.navLinks {
  align-self: flex-end;
  list-style-type: none;
}
